.app-nav__container {
	position: relative;
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--header);
}

.mainly-nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-title {
	font-family: var(--logo);
	font-size: 1.5rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}

.Drawer-app__title {
	display: none;
}

.file-managing-btns__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.file-managing-btns__delete {
	width: 20px;
	height: 20px;
	background-image: url(/public/assets/Trash.svg);
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.file-managing-btns__save {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: white;
	font-size: 1.5rem;
	font-weight: 400;
	background-color: var(--highlight-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.file-managing-btns__save-icon {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(/public/assets/Save.svg);
	background-color: transparent;
}

@keyframes show-focus {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.app-nav__container {
		padding: 20px;
	}
}

@media screen and (max-width: 650px) {
	.app-title {
		display: none;
	}

	.file-managing-btns__save-text {
		display: none;
	}

	.Drawer-app__title {
		display: block;
	}
}

@media screen and (min-width: 650px) and (max-width: 920px) {
	.app-nav__container {
		margin-left: 50px;
	}
}
