.app-nav__container {
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--header);
}

.mainly-nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-title {
	font-family: var(--logo);
	font-size: 1.5rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}

.new-file-name__wrapper {
	display: grid;
	position: relative;
	margin-left: 50px;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	justify-items: center;
}

.new-file-name__wrapper::before {
	position: absolute;
	left: -20px;
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	background: #646464;
}

.new-file-name__label {
	padding-bottom: 10px;
	justify-self: left;
	color: #b8babc;
	font-size: 1.3rem;
	font-weight: 300;
}

.new-file-name__input {
	grid-column: 2;
	background: none;
	border: none;
	outline: none;
	font-size: 1.3rem;
	font-weight: 300;
	color: #fff;
	caret-color: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid transparent;
	transition: 0.4s;
}

.new-file-name__input::placeholder {
	font-weight: 700;
}

.new-file-input__wrapper {
	position: relative;
}

.new-file-name__input:focus ~ span::after {
	content: '';
	color: white;
	position: absolute;
	bottom: -1px;
	z-index: 1;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	animation: show-focus 500ms ease-out;
}

.new-file-name__icon {
	width: 20px;
	height: 20px;
	display: block;
	grid-row: span 2;
	background-image: url(/public/assets/File.svg);
}

.file-managing-btns__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.file-managing-btns__delete {
	width: 20px;
	height: 20px;
	background-image: url(/public/assets/Trash.svg);
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.file-managing-btns__save {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: white;
	font-size: 1.5rem;
	font-weight: 400;
	background-color: var(--highlight-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.file-managing-btns__save-icon {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(/public/assets/Save.svg);
	background-color: transparent;
}

@keyframes show-focus {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.app-nav__container {
		padding: 20px;
	}
}

@media screen and (max-width: 600px) {
	.app-title {
		display: none;
	}

	.file-managing-btns__save-text {
		display: none;
	}

	.new-file-name__label {
		display: none;
	}

	.new-file-name__wrapper::before {
		display: none;
	}
}
